p {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 20px;
}

.movies-image {
  width: 183px;
  height: 280px;
}

.ant-tag {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: rgba(0, 0, 0, 0.65);
  padding: 2px 5px;
  margin-bottom: 10px;
}
.movies-card {
  max-width: 450px;
  max-height: 280px;
  display: flex;
  margin-bottom: 35px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.movies-card__container {
  padding-left: 20px;
  max-width: 267px;
  display: flex;
  flex-direction: column;
}

.ant-rate {
  font-size: 16.5px;
  margin-top: auto;
  margin-bottom: 20px;
}

.all-tags {
  display: block;
}

header {
  max-width: 250px;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  padding: 0;
  background-color: #fff;
  display: flex;

}

.title-container {
  display: flex;
  align-items: center;
  color: #827e7e;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  margin-right: 0;
}

.subtitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #827e7e;
  }

.rating {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: 0 10px 0 5px;
  flex-shrink: 0;
}

.low-rating {
  border: 2px solid #E90000;
}

.average-rating {
  border: 2px solid #E97E00;
}

.above-average-rating {
  border: 2px solid #E9D100;
}

.high-rating {
  border: 2px solid #66E900;
}