body {
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.app-container {
  max-width: 1010px;
  margin: 0 auto;
  background: #ffffff;
  padding: 15px 36px;
}

.ant-tabs-nav::before {
  display: none;
}

.ant-tabs-nav-list::after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #f0f0f0;
  content: '';
  z-index: -1;
}

.ant-pagination-item-active {
  background: #1890ff;
  border-radius: 4px;
}
.ant-pagination-item-active a {
  color: white;
}

.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
  color: lightblue;
}

.ant-pagination {
  width: 204px;
  font-size: 12px;
  margin: 0 auto;
}

.ant-pagination.mini .ant-pagination-item {
  margin: 0 3px;
}
